{% extends 'News.html' %}

{% block content %}


    {% for key, val in news %}
<div class="row">
    <div class="panel panel-info ">
        <div class="panel-heading">{{ val.lead }}</div>
        <div class="panel-body">{{ val. text }}</div>
        <div class="panel-footer">
            <p><span class="col-sm-2">{{ val.date }}</span>
                <span class="col-sm-10"><a href="/news/article/{{ key }}">Посмотреть новость</a></span></p>
        </div>
    </div>
</div>
    {% endfor%}


{% endblock %}