{% extends 'Admin.html' %}

{% set title='Редактирование исполнителя' %}

{% block content %}
<div class="container">
    <table class="table table-hover">
        <TR>
            <TH>Исполнитель</TH>
            <TH>Биография</TH>
            <TH>Фотографии</TH>
            <TH colspan="2">Действия</TH>
        </TR>

        {% for singer in singers %}

            <TR>
                <TD>{{ singer.name }}</TD>
                <TD>{{ singer.bio }}</TD>
                <TD>
                    {% for image in singer.images %}
                        <div class="col-sm-6">
                            <img src="{{ image.path }}" class="img-thumbnail">
                        </div>


                        {% endfor %}
                </TD>
                <TD><a class="btn btn-info" href="/performer/edit?id={{ singer.pk }}">Редактировать</a></TD>
                <TD><a class="btn btn-warning" href="/performer/delete?id={{ singer.pk }}">Удалить</a></TD>
            </TR>

            {% endfor %}

    </table>
</div>
{% endblock %}