{% extends 'Admin.html' %}

{% set title='Редактирование музыки' %}

{% block content %}
<div class="container">
    <table class="table table-hover">
        <TR>
            <TH>Название</TH>
            <TH>Композитор</TH>
            <TH>Исполнитель</TH>
            <TH>Жанр</TH>
            <TH>Рейтинг</TH>
            <TH colspan="2">Действия</TH>
        </TR>

        {% for trek in treks %}

            <TR>
                <TD>{{ trek.title }}</TD>
                <TD>{{ trek.composer }}</TD>
                <TD>{{ trek.performer.title }}</TD>
                <TD>{{ trek.genre.title }}</TD>
                <TD>{{ trek.rating }}</TD>
                <TD><a class="btn btn-info" href="/music/edit?id={{ trek.Pk }}">Редактировать</a></TD>
                <TD><a class="btn btn-warning" href="/music/delete?id={{ trek.Pk }}">Удалить</a></TD>
            </TR>

            {% endfor %}

    </table>
</div>
{% endblock %}