<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ app.config.appname }}</title>

    {{ publish('/Assets/login') }}

    {{ publishCss() }}
  <link rel="stylesheet" href="{{asset('/Assets/login/signing.css')}}">
</head>
<body>

{% if errors is defined %}
    {% for error in errors %}
      <div class="container col-md-offset-2">
        <div class="alert alert-danger alert-dismissible col-md-8" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{error.getMessage()}}
        </div>
      </div>
    {% endfor %}
{% endif %}

{% block content %}{% endblock %}

{{ publishJs() }}
</body>
</html>