<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>

  {{ publish('/Assets/index') }}

  {{ publishCss() }}
  <link rel="stylesheet" href="{{asset('/Assets/index/indexDefault.css')}}">
  <link rel="stylesheet" href="{{asset('/Assets/index/navbar.css')}}">
  <link rel="stylesheet" href="{{asset('/Assets/index/stickyfooter.css')}}">
</head>
<body>
<div class="container">

  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">MusicLib</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/index/music">Музыка</a></li>
          <li><a href="/index/performers">Исполнители</a></li>
          <li><a href="/index/genres">Жанры</a></li>
          <li><a href="/index/about">О проекте</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if app.user %}
            <li><a href="/admin">Добрый день, {{ app.user.name }}</a></li>
            <li><a href="/admin/logout">Выйти</a></li>
          {% else %}
          <li><a href="/admin/login">Войти</a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>

{% if app.flash.message is defined %}
  <div class="container">
    <div class="alert alert-info alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{app.flash.message}}
    </div>
  </div>
{% endif %}

{% if errors is defined %}
    {% for error in errors %}
      <div class="container">
        <div class="alert alert-danger alert-dismissible col-md-8" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{error.getMessage()}}
        </div>
      </div>
    {% endfor %}
{% endif %}

{% block content %}{% endblock %}



    <!-- FOOTER -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">Музтека MusicLib &copy</p>
  </div>
</footer>



  {{ publishJs() }}
</body>
</html>