<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>

  {{ publish('/Assets/index') }}

  {{ publishCss() }}
  <link rel="stylesheet" href="{{asset('/Assets/index/navbar.css')}}">
  <link rel="stylesheet" href="{{asset('/Assets/index/stickyfooter.css')}}">
</head>
<body>
<div class="container">

  <!-- Static navbar -->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">MusicLib</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="#">Музыка</a></li>
          <li><a href="#">Исполнители</a></li>
          <li><a href="#">Жанры</a></li>
          <li><a href="#">О проекте</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if app.user %}
            <li><a href="/admin">Добрый день, {{ app.user.name }}</a></li>
            <li><a href="/admin/logout">Выйти</a></li>
          {% else %}
          <li><a href="/admin/login">Войти</a></li>
          {% endif %}
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container-fluid -->
  </nav>
</div>

{% block content %}{% endblock %}



    <!-- FOOTER -->
<footer class="footer">
  <div class="container">
    <p class="text-muted">Place sticky footer content here.</p>
  </div>
</footer>



  {{ publishJs() }}
</body>
</html>