{% extends 'Index.html' %}

{% set title = 'О музыкальной библиотеке MusicLib' %}

{% block content %}

    <div class="container">
        <div class="jumbotron text-center">
            <h1>Музыкальная мини-библиотека MusicLib</h1>
            <p>Является небольшим авторским проектом. Цель - собрать вместе сведения об интересных автору музыкальных композициях и их создателях. В перспективе могут добавиться поиск, сортировка, рейтинги музыкальных треков, обсуждения и прочее...</p>
            <p><a class="btn btn-success btn-lg" href="/" role="button">Начать знакомство</a></p>
        </div>
    </div>

{% endblock %}