{% extends 'Index.html' %}

{% set title = 'Музыкальная библиотека MusicLib' %}

{% block content %}

    <div class="container">

        <!-- Left side genre links -->

        <div class="row col-md-2">
            <t4:block path="//Index/Genres"/>
        </div>

        <!-- right side -->

        <div class="row col-md-10">

            <!-- one top music trek -->

            <div class="row">
                <t4:block path="//Index/LastTrek"/>
            </div>

            <!-- top three Performers -->

            <div class="row">
                <t4:block path="//Index/LastSingers"/>
            </div>
        </div>
    </div>

{% endblock %}