{% extends 'Index.html' %}

{% set title = 'Музыкальная библиотека MusicLib' %}

{% block content %}

    <div class="container">

        <!-- Left side genre links -->

        <div class="row col-md-2">
            <t4:block path="//Index/AllGenres"/>
        </div>

        <!-- right side -->

        <div class="row col-md-10">

            <!-- one top music trek -->

            <div class="row">
                <t4:block path="//Index/LastTrek"/>
            </div>

            <!-- top three Performers -->

            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}