{% extends 'Index.html' %}

{% set title = 'Музыкальная библиотека MusicLib' %}

{% block content %}

    <!-- Left side links -->

    <div class="container">
        <div class="row col-md-2">
            <t4:block path="//Index/AllGenres"/>
        </div>

        <!-- right side -->

        <div class="row col-md-10">

            <!-- one top music trek -->

            <div class="row">
                <div class="jumbotron col-md-offset-1">
                    <h1>Hello, world!</h1>
                    <p>...</p>
                    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
                </div>
            </div>

            <!-- top three Performers -->

            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <img src="..." alt="...">
                        <div class="caption">
                            <h3>Thumbnail label</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}