{% if trek is not empty %}
<div class="jumbotron col-md-offset-1">
  <div class="row">
    <div class="col-md-7">
      <h1>{{ trek.title }}</h1>
      <p>{{ trek.performer.name }}</p>
      <p><audio src="{{ trek.path }}" controls></audio></p>
    </div>
    <div class="col-md-5">
      <img src="{{ trek.performer.images[0].path }}" class=" img-thumbnail">
    </div>
  </div>
  <div class="row">
    <a class="btn btn-primary btn-lg" href="/index/viewTrek?id={{ trek.pk }}" role="button">Подробнее</a>
  </div>
</div>
{% endif %}