{% extends 'Index.html' %}

{% set title = 'Музыкальная библиотека MusicLib: все исполнители' %}

{% block content %}

    <div class="container">

        <table class="table table-hover">
            <TR>
                <TH>Исполнитель</TH>
                <TH>Биография</TH>
                <TH>Фотографии</TH>
                <TH>Действия</TH>
            </TR>

            {% for singer in singers %}

                <TR>
                    <TD>{{ singer.name }}</TD>
                    <TD>{{ singer.bio }}</TD>
                    <TD>
                        {% for image in singer.images %}

                            <div class="col-sm-6">
                                <img src="{{ image.path }}" class="img-thumbnail">
                            </div>

                        {% endfor %}
                    </TD>
                    <TD>
                        <div class="list-group">
                            <a class="list-group-item" href="/index/viewPerformer?id={{ singer.pk }}">Подробнее</a>
                            <a class="list-group-item list-group-item-info" href="/index/music?filter=performer&id={{ singer.pk }}">Послушать музыку</a>
                        </div>
                    </TD>
                </TR>

            {% endfor %}

        </table>
    </div>

{% endblock %}